.grid {
    height: 500px;
    width: 500px;
    background-color: $ELEMENT_BACKGROUND;
    border-radius: 5px;
    color: $ELEMENT_BACKGROUND;
    box-sizing: border-box;
    transition: border 0.3s linear;
    border: 3px solid rgba($WHITE, 0);
    position: relative;

    &__controls {
        position:absolute;
        top: -24px;
        display: flex;
        justify-content: space-between;
        width: 500px;
        background-color: $WHITE;
    }

    &__close, &__play {
        font-size: 18px;
        width: 24px;
        height: 24px;
        color: $RED;
    }

    &:hover &__close  {
        opacity: 1;
    }

    &__cells {
        // width: 100%;
        // height: 100%;
    }
}
