@import "normalize/import-now";
@import "variables";
@import "grid";
@import "button";
@import "controls";
@import "cell";

body, html {
  height: 100%;
font-family: 'Fira Code', monospace;
}

.intro {
  padding: 5% 0 0 2.5%;
  font-size: 17px;
  color: $WHITE;
  font-style: italic;
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
}

.tips {
  width: 420px;
}

.authors {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;

  & a {
    color: $WHITE;
    width: 100%;
  }

}

.app {
  width: 100%;
  height: 100%;
  background-color: $BACKGROUND;
}

.grids {
  display: flex;
  flex-wrap: wrap;
  background-color: $BACKGROUND;
  align-items: center;
  align-content: center;
  padding: 5% 0;
}

.grid {
  margin: 2.5%;
}